* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

@import './styles/header.scss';
@import './styles/main.scss';
@import './styles/song-info.scss';
@import './styles/player.scss';
@import './styles/libriary.scss';
